{% extends '_layout.html' %}
{% block content %}

<h1>Edit Profile</h1>

{% if user.profile_image %}
<img width="100" src="{{ user.profile_image_url }}" alt="profile pic">
{% else %}
<img src="{{ user.profile_image_url }}" alt="profile pic">
{% endif %}

{% for image in current_user.images %}
<img width="100" src="{{ image.user_image_url }}" alt="pic">
{% endfor %}

<hr>
<form action="{{ url_for('users.edit_username', username=current_user.username) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        <label>{{user.username}}</label>
        <input type='text' name='username' class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update Username</button>
</form>
<hr>
<form action="{{ url_for('users.edit_email', username=current_user.username) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        <label>{{user.email}}</label>
        <input type='text' name='email' class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update Email</button>
</form>
<hr>
<form action="{{ url_for('users.upload_profile', username=current_user.username) }}" method="POST"
    enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="file" name="profile_image">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Upload Profile Image</button>
</form>
<hr>
<a href="{{ url_for('home', username=user.username) }}">Homepage</a>
/
<a href="{{ url_for('images.new') }}">Upload Images</a>

{% endblock %}