{% extends "_layout.html" %}
{% block content %}

<h1>News Feed</h1>

<div class="container">

    {% for user in user %}
    {% if user.profile_image %}
    <a href="{{ url_for('users.show', username=user.username) }}">
        <br>
        <img width="302" src="{{ user.profile_image_url }}" alt="pic" class="user">
        <img width="302" src="{{ user.profile_image_url }}" alt="pic" class="user">
        <img width="302" src="{{ user.profile_image_url }}" alt="pic" class="user">
        <div>
            {{user.username}}
        </div>
        <br>
        <div>
            {% for image in user.images %}
            <a href="{{ url_for('donations.new', image_id=image.id) }}">
                <img width="200" src="{{ image.user_image_url }}" alt="pic">
                DONATE
            </a>
            <small>Donations: RM{{image.total_donation}}</small>
            {% endfor %}
        </div>
    </a>
    <hr>
    {% endif %}
    {% endfor %}

</div>


{% endblock %}