{% extends "_layout.html" %}
{% block content %}

<h1>{{user.username}}</h1>
{% if user == current_user %}
<p><a href="{{ url_for('users.edit') }}">Edit your profile</a></p>
{% elif not current_user.is_following(user) %}
<p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
{% else %}
<p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
<p>Followers : {{ Followers | length }}</p>
<p>Following : {{ Following | length }}</p>
<hr>
<div>

    {% for image in user.images %}

    <img width="312" src="{{ image.user_image_url }}" alt="pic" class="user">

    {% endfor %}

</div>
<hr>
<a href="{{ url_for('users.show_feed') }}">Homepage</a>
{% endblock %}