{% extends "_layout.html" %}
{% block content %}

<h1>{{user.username}}</h1>
<div>
    {% for image in user.images %}

    <img width="312" src="{{ image.user_image_url }}" alt="pic" class="user">

    {% endfor %}

</div>

<div>
    {% if not current_user.is_following(user) %}
    <form action="{{ url_for('followers.create', idols_id=user.id)}}" mehtod="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="btn btn-primary">Follow</button>
    </form>

    {% else %}
    <form action="{{ url_for('followers.delete', idols_id=user.id)}}" mehtod="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endif %}

</div>

<div>
    Followers: {{user.fans | length}} / Following: {{user.idol | length }}
</div>

<hr>
<a href="{{ url_for('users.show_feed') }}">Homepage</a>

{% endblock %}